<div class="jumbotron">
  <h1 class="display-4">Welcome to Alpha Blog!</h1>
  <p class="lead">Hello and welcome to my Alpha Blog</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>